.root{
   -fx-background-color: #3C3C3C;
}

#lstImagesList .list-cell {
    -fx-background-color: #1E1E1E;
    -fx-text-fill: #ffffff;

}

#lstImagesList .list-cell:focused {
    -fx-background-color: #3b3b3b;
}


.label{
   -fx-text-fill: white;
   -fx-background-color : #1E1E1E;
   -fx-padding: 3 3 3 3;
}

#lbtHeight, #lbWidth{
   -fx-text-fill: white;
   -fx-background-color : #1E1E1E;
   -fx-padding: 3 3 3 3;
   -fx-border-color: black;
   -fx-border-radius: 1;
    -fx-border-width: 1;
}

#lblOutputPath{
    -fx-font-size: 10px;
    -fx-background-color : #4A4A4A;
    -fx-border-color: gray;
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-padding: 0 0 0 10; /* right */
}

#lbType, #lbSize, #lbDimen{
   -fx-text-fill: gray;
}

.button{
    -fx-text-fill: white;
    -fx-background-color : #4A4A4A;
    -fx-border-color: gray;
    -fx-border-radius: 5;
    -fx-border-insets: 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 5, 0.0, 0, 3);
}

.button:hover {
    -fx-background-color: #383838;
    -fx-scale-y: 1.1;
}

.button:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

/* #515151*/
#btnResize{
    -fx-font-size: 12px;
    -fx-text-fill: red;
    -fx-background-color : #4A4A4A;
    -fx-border-color: gray;
    -fx-font-weight: bold;
}

#btnResize:hover{
    -fx-background-color: #383838;
}

#editHeight, #editWidth{
   -fx-background-color : #4A4A4A;
   -fx-text-fill: white;
}

#imageContainer{
   -fx-background-color: #1E1E1E;
}

#lstImagesList{
   -fx-background-color: #1E1E1E;
}

#cbRatio {
    -fx-text-fill: white;
    -fx-padding: 1 1 1 1;
}

#cbRatio > .box {
    /* background color of unselected checkbox */
    -fx-background-color: #1E1E1E;
}

#cbRatio:selected > .box > .mark {
    /* modify mark color */
    -fx-background-color: white;
}

.combo-box {
    /* background color of Button */
    -fx-background-color: #333333;
    -fx-border-color: gray;
}

.combo-box .arrow {
    -fx-background-color: gray;
}

.combo-box-base .text{
    -fx-fill: white;
}

.combo-box .list-cell {
    -fx-background-color: #1E1E1E;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: #333333;
}

.combo-box .list-cell:selected {
    -fx-background-color: #333333;
}

/** Size the combo-box drop down list. */
#comboBoxSizes .combo-box-popup > .list-view {
    -fx-pref-width: 133;
}


